* {
  margin: 0;
  padding: 0;
  background-color: black;
}

:root {
  --orange: #e15307;
  --white: #fff;
  --green: #10af2a;
  --flag-height: 200px;
}

/* Aspect ratio - 6:7 */
/* calc(var(--flag-height) * 7/6 */

.flag {
  width: calc(var(--flag-height) * 7 / 6);
  height: var(--flag-height);
  background-color: white;
  margin: 3rem auto;
}

.stripe {
  height: calc(var(--flag-height) * 1 / 3);
}

.orange {
  background-color: var(--orange);
}

.white {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background: var(--green);
}

.circle {
  background-color: var(--orange);
  width: calc(var(--flag-height) / 3 * 0.85);
  height: calc(var(--flag-height) / 3 * 0.85);
  border-radius: 50%;
}
/* height and width (in .circle) are the same formula because we're making a perfect circle, which can be comprised of a perfect square with rounded corners. */
